@import url('https://fonts.googleapis.com/css?family=Arvo');

.App {
  text-align: center;
}

.Title{ 
  font-size: 40px;
  
}

.Header{ 
  text-align: center;
  margin: auto; 
  width: 90%; 
  border: 1px solid black;
}

.Header table{
  width: 100%;
  padding: 0px; 
}

.Header td{
  padding: 0px;
}

.Header tr{
  padding: 0px;
}

.Create{
  border-top: 5px solid black;
  display: inline-block;
  text-align: left;
  width: 360px;
  margin: auto; 

}

.Word{
  font-family: 'Arvo', serif;
  padding: 5px; 
  margin: 0px;
  font-size: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 0;

}

